.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: blueviolet;
  height: 50px;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  
}

.item{
  margin: 20px;
  padding: 20px;
  color: white;
}

.contactTable{
  margin-top: 20px;
  margin-bottom: 20px;
  justify-items: center;
  align-content: center;
  align-items: center;
  

}

.contactRow{
  flex-direction: row;
  justify-content: space-around;
}

.table-header{
  margin: 10px;
}

.table {
  border: 2px solid forestgreen;
  
}

.th {
  border-bottom: 10px solid black;
  border: 2px solid black;
  font-size: large;
  width: 25px;
}
  
.td {
  text-align: center;
  
}

.tr{
  border: 1px solid black;
  height: 30px;
}
/* .buttons{
  background-color: aqua;
  border-radius: 5px;
} */